.main-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


#uploadBtn, #scanBtn {
    padding: 12px 24px;
    font-size: 16px;
    width: 300px;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
}

#uploadBtn {
    margin-bottom: 20px;
}

.fileInput {
    display: none;
}

